.icon {
  width: 27px;
  height: 27px;
}

.listItem {
  padding: 1em 2em !important;
  text-transform: uppercase;
}

.listItemText {
  font-family: "Poppins-Light";
  font-weight: normal !important;
}
